.tasklist {
    flex: 1;       
    display: flex;
    flex-direction: column;     
    align-items: center;       
    justify-content: flex-start;  
    padding: 1rem;                
    background-color: #ffffff;
    overflow-y: auto;       
}

.tasklist-item {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;         
    padding: 0.75rem 1rem;
    font-family: 'Inter', sans-serif;  
    font-size: 0.95rem;
    color: #333333;             
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
    margin-bottom: 0.5rem;
}

.confirm-add-task {
    background-color: #98FB98;
}

.task-popup-container, .task-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    width: 100%;
    list-style-type: none;
}

.hidden {
    display: none;
}

.project-title {
  font-size: 32px;
  font-weight: bold;
}

